
img{
	width: 100px;
	height: 100px;
}

.events {
    height: 400px;
 
}
 .panel-footer {
   	height: 100px;
}

.container {
  height: 200px;
}
.main-header {
  color: white;
  font-size: 50px;
  font-family: 'Leckerli One', cursive;
}

.zipcode-input {
  width: 255px;
  margin-top: 6px;
  height: 37px;
  border-radius: 10px;
  text-align: center;
}

.submit-button {
  border-radius: 10px;
  border-top: 20px;
  width: 100px;
  transition: all .2s; 
  margin-top: 5px;
  height: 36px;
  background-color: rgb(216,45,45);
}

  .submit-button:hover {
    background-color: rgb(216,45,45);
    color: white;
  }

  .submit-button:active {
    transform: translateY( 2px );
  }

 

.panel {
    overflow: auto;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: khaki;
}

tr{
	transition: .3s;
}

tr.specificEvent:hover{
	transform: scale(1.1);
	cursor: pointer;
}

