img{
	width: 100px;
	height: 100px;
}

.events {
    height: 400px;
 
}
 .panel-footer {
   	height: 100px;
   }

   /*.jumbotron {
   	background-image: url("../images/admitone.jpg"); 
   	background-repeat: no-repeat;

   }*/