.landing{
	margin-top: 210px;
}

.header {
  text-align: center;
  color: white;
  margin: 0px;
 
}
.description {
  text-align: center;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 0px;
}

.header-text {
	font-size: 120px;
	font-family: 'Leckerli One', cursive;
	margin: 0px;
}
.zip-input {
	height: 40px;
	width: 400px;
	margin-bottom: 7px;
	text-align: center;
	font-size: 17px;
	border-radius: 10px;
	color: black;
}

.submit {
	background-color: rgb(216,45,45);
	height: 40px;
	width: 300px;
	font-size: 15px;
	border-radius: 10px;
}

.date-hidden {
	opacity: 0;
	transition: all 1s;
}

.visible {
	visibility: visible;
	opacity: 1;
	transition: all 1s;
}

#landing-page {
	z-index: 999;
}

#main-page, #landing-page {
	background-image:url(../images/City-Background2.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
