#loading-page
{
	position: absolute;

	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;

/*	background-color: white;*/

	z-index: 9999;
}

.splash-hidden
{
	visibility: hidden;
}

.splash-visible
{
	visibility: visible;
}

.loading-spinner
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	height: 128px;
	width: 128px;
	background-size: cover;
	background-image: url( '../images/loading02.gif' );
}